<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.p_trucker">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/truck"
        android:label="@string/app_name"
        android:roundIcon="@drawable/truck"
        android:supportsRtl="true"
        android:theme="@style/Theme.PTrucker">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity android:name=".CodeActivity"></activity>
        <activity
            android:name=".CheckActivity"
            android:exported="false" />
        <activity
            android:name=".ScanActivity"
            android:exported="false" />
        <activity android:name=".MainActivity"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>